@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.header-client {
  position: absolute;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.logo {
  margin-left: 40px;
  font-family: monospace;
  font-weight: 700px;
  letter-spacing: 0.3rem;
}
.links-client {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 500px;
  margin-right: 20px;
}
.video-client {
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading-client {
  position: absolute;
  color: #fff;
  margin-top: 400px;
  margin-left: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
.remote-client {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  margin-top: 40px;
}
.remote-client p {
  margin: 50px;
}
.remote-pic {
  height: 450px;
  width: 350px;
}
