@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
.rovinoxLanding {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.overlay {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  background: #03a9f4;
  mix-blend-mode: overlay;
}
#video_container {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -2;
}

.video-client {
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading-client {
  position: relative;
  color: #fff;
  margin-top: -200px;
  margin-left: 50px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15px;
}

.heading-client span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
.remote-client {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  margin-top: 40px;
  width: 100%;
}
.remote-client p {
  margin: 30px;
}
.remote-pic {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
.loader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: white;
  position: absolute;
  z-index: 22;
}
/* @media screen and (min-width: 600px) {
  .heading-client {
    font-size: 10px;
    
  }
} */
