.course-table-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  width: 100%;
  margin-top: 40px;
}

/* .course-table tbody tr:nth-child(odd) {
  background: linear-gradient(to right, #211c33, #3a2336);
} */
